* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
.color-morado {
  color: #3b04db;
}
.morado {
  background: #210180;
}
.color-naranja {
  color: #ff4e56;
}
.fuente-nunito {
  font-family: "Nunito Sans", sans-serif;
}
.fuente-muli {
  font-family: "Muli", sans-serif;
}
.inicio {
  height: 860px;
  z-index: 95;
  background-image: url(../images/banner-1.png);
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
}

.header-izq {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
  margin-left: 10vw;
}
.header-der {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 10vw;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 12px;
  padding-top: 30px;
}
nav ul li a {
  color: antiquewhite;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
}
.contenedor {
  position: relative;
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.header-content-izq {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 15vh;
}
.header-content-der {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 15vh;
  color: whitesmoke;
  font-family: "Muli", sans-serif;
  padding-left: 50px;
  padding-top: 50px;
}
.header-content-der h1 {
  font-size: 65px;
  margin-bottom: 20px;
}
.header-content-der p {
  color: #ccc;
}
.margen {
  margin-top: 40px;
}
.header-content-der a {
  color: white;
  margin: 10px;
  text-decoration: none;
  border: solid 1px white;
  padding: 15px 40px;
  border-radius: 50px;
  transition-duration: 0.5s;
}
.header-content-der a:hover {
  color: #3b04db;
  background-color: white;
}
.features {
  height: 100vh;
}
.contenedor2 {
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}
.der-sec2 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
  font-family: "Muli", sans-serif;
}
ul {
  margin-left: 25px;
  list-style-image: url("../images/iconos/chech.png");
}
h4 {
  color: #3b04db;
}
h2 {
  font-size: 35px;
}
.izq-der2 {
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.mt-10 {
  margin-top: 70px;
}
.btn {
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
}
.btn:hover {
  background: #3b04db;
}
.product {
  height: 100vh;
  background: rgb(233, 232, 232);
}
.header-sec-3 {
  padding-top: 100px;
  width: 50vw;
  margin: auto;
  font-family: "Muli", sans-serif;
  text-align: center;
}
.cuerpo-sec-3 {
  width: 80vw;
  margin: auto;
  display: grid;
  font-family: "Muli", sans-serif;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.cuerpo-sec-3 div {
  background: white;
  margin: 20px;
  padding: 10px;
}
.cuerpo-sec-3 img {
  width: 50px;
}
.cuerpo-sec-3 p {
  margin-top: 5px;
  font-size: 12px;
  color: rgb(83, 83, 83);
  font-family: "Nunito Sans", sans-serif;
}
.producto {
  height: 100vh;
}
.contenedor4 {
  margin: auto;
  display: grid;
  font-family: "Muli", sans-serif;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}
.contenedor4 img {
  width: 50vw;
}
.cont-der-4 {
  padding: 70px;
}
.cont-der-4 p {
  margin-top: 5px;
  font-size: 15px;
  color: rgb(83, 83, 83);
  font-family: "Muli", sans-serif;
}
.cont-der-4 a {
  font-size: 15px;
}
.cont-a {
  margin-top: 40px;
}
.absoluta {
  position: absolute;

  top: 2750px;
  left: 300px;
}
.absoluta img {
  width: auto;
}
.absoluta2 {
  background: #ff4e56;
  padding: 25px;
  border-radius: 100px;
  z-index: 1000;
}
.opaco {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
}
.opaco iframe {
  margin: 100px 0 0 200px;
}
.opaco a {
  position: absolute;
  top: 50%;
  right: 50%px;
  text-decoration: none;
  color: #ccc;
  font-family: "Muli", sans-serif;
  font-size: 25px;
}
.onda {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 10px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: onda 2s infinite;
  animation: onda 2s infinite;
  opacity: 0;
  overflow: hidden;
}

.onda:nth-child(2) {
  animation-delay: 1s;
}

@keyframes onda {
  0% {
    width: 50px;
    height: 50px;
    border: 10px solid #ff4e56;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  90%,
  100% {
    border: 1px solid #ff4e56;
    opacity: 0;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}
