* {
  padding: 0px;
  margin: 0px;
}
.color-morado {
  color: #3b04db;
}
.color-naranja {
  color: #ff4e56;
}
.fuente-nunito {
  font-family: "Nunito Sans", sans-serif;
}
.fuente-muli {
  font-family: "Muli", sans-serif;
}
.inicio {
  height: 860px;
  background-image: url(../images/banner-1.png);
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
}
.header-izq {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
  margin-left: 10vw;
}
.header-der {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 10vw;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  padding-top: 30px;
}
nav ul li a {
  color: antiquewhite;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
}
.contenedor {
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.header-content-izq {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 15vh;
}
.header-content-der {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 15vh;
  color: whitesmoke;
  font-family: "Muli", sans-serif;
  padding-left: 50px;
  padding-top: 50px;
}
.header-content-der h1 {
  font-size: 65px;
  margin-bottom: 20px;
}
.header-content-der p {
  color: #ccc;
}
.margen {
  margin-top: 40px;
}
.header-content-der a {
  color: white;
  margin: 10px;
  text-decoration: none;
  border: solid 1px white;
  padding: 15px 40px;
  border-radius: 50px;
  transition-duration: 0.5s;
}
.header-content-der a:hover {
  color: #3b04db;
  background-color: white;
}
.features {
  height: 100vh;
}
